{% extends 'backoffice/base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
    <div class="p-6">
        <div class="mb-6 pl-64">
            <div class="w-full bg-white rounded-md border border-gray-100 p-4 shadow-md shadow-black/5">
                {% include 'composants/titredashboard.html.twig' with { 'title': 'Modifier une Catégorie'} %}

                {{ include('backoffice/category/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

                <a href="{{ path('app_category_index') }}">Retour à la liste</a>
            </div>
        </div>
    </div>
{% endblock %}
