{% extends 'base.html.twig' %}

{% block title %}GymVoice{% endblock %}

{% block body %}
<div class="w-[1500px] h-[1500px] bg-[#fffffe]"></div> 
<div class="w-[1500px] h-[762px] bg-[#f48000]"></div>
<div class="w-[1500px] h-[238px] bg-[#1e1e1e]"></div> 

{% endblock %}
