<a href="{{ path( path ) }}" class="text-white font-bold py-2 px-4 rounded inline-flex items-center {% if theme == 'turquoise' %}bg-lightblue-500 hover:bg-lightblue-700 group-hover:bg-lightblue-800 focus:bg-lightblue-800{% elseif theme == 'grenade' %}bg-darkred-500 hover:bg-darkred-700 group-hover:bg-darkred-800 focus:bg-darkred-800{% else %}bg-primary-500 hover:bg-primary-700 group-hover:bg-primary-800 focus:bg-primary-800{% endif %} hover:text-gray-100 rounded-md cursor-pointer">
    {{ title }} <i class="fa-solid fa-plus ml-2"></i>
</a>
