<div class="flex justify-end mt-4">
    <form id="searchForm" class="relative">
        <input id="searchInput" type="text" name="q" placeholder="Rechercher par nom" value="{{ searchTerm ?? '' }}" class="p-2 pr-8 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500">
        <button type="submit" class="absolute right-0 top-0 mt-2 mr-2">
            <i class="fa-solid fa-search text-gray-400"></i>
        </button>
    </form>
</div>
