{% extends 'backoffice/base.html.twig' %}

{% block title %}Composants{% endblock %}

{% block body %}
    <div class="p-6">
        <div class="mb-6 pl-64">
            <div class="w-full bg-white rounded-md border border-gray-100 p-4 shadow-md shadow-black/5">
                <h1 class="mb-10 text-xl font-semibold">Les Composants</h1>

                <div class="w-full bg-gray-50 rounded-md border border-gray-200 p-4 mb-4">
                    <div class="flex justify-center">
                        <form id="searchForm" class="relative">
                            <input id="searchInput" type="text" name="q" placeholder="Rechercher par nom" class="p-2 pr-8 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500">
                            <button type="submit" class="absolute right-0 top-0 mt-2 mr-2">
                                <i class="fa-solid fa-search text-gray-400"></i>
                            </button>
                        </form>
                    </div>
                </div>

                <div class="w-full bg-gray-50 rounded-md border border-gray-200 p-4 mb-4">
                    <div class="flex justify-center">
                        <h1 class="text-3xl font-bold text-gray-900 font-lalezar">
                            Titre
                        </h1>
                    </div>
                </div>

                <div class="w-full bg-gray-50 rounded-md border border-gray-200 p-4 mb-4">
                    <div class="flex justify-center">
                        <h1 class="text-4xl font-bold text-gray-800">
                            Titre<i class="fa-solid fa-users ml-3"></i>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}